#logo_img img {
    border-left: auto;
    border-right: auto;
    border: 1px !important;
    border-style: solid !important;
    border-radius: 100%;
    border-color: gray !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 125px;
    background-color: rgb(187, 15, 15) !important;
    border: none;
    opacity: 0.7;
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgb(187, 15, 15);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 20px;
}

.nav-bar-footer {
    text-align: center;
    padding: 40px;
}

.nav-bar-footer ul {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}

.nav-bar-footer ul li {
    margin-left: 20px;
    text-decoration: none;
}

.nav-bar-footer ul li a {
    color: rgb(255, 255, 255);
}

.nav-bar-footer ul li a:hover {
    color: rgb(176, 250, 201);
}

.card {
    max-height: 350px;
    background-attachment: fixed;
}

.card img {
    width: auto;
    height: 150px;
}

.card img:nth-child(2) {
    width: 70px;
    height: 70px;
    position: relative;
    top: -160px;
    left: 220px;
}